root,body,html {
    height: 98%;
    width: 99.5%;
    font-family:"verdana", Arial, sans-serif;
    font-size: 95%;
    line-height: 1.4;
    display: block;
}
body{
	background-image: url();
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

.header{
}

.right{
}

.left{
}

.menu{

}

.content{
	
}
.footer {
	
}

/* IE 6 */
* html .footer {
	
}

.ui-menu{
	
}
.ui-button{
	
}
.ui-button-text{

}
.ui-menuitem-text{
	
}
.ui-menuitem-link, .ui-corner-all{

}
.ui-panel-titlebar, .ui-widget-header, .ui-helper-clearfix{
	
}
.ui-datatable-footer, .ui-widget-header, .ui-corner-bottom, .ui-state-default, .ui-sortable-column, .ui-filter-column{
	
}
.ui-panel-content, .ui-widget-content{
	
}

.ui-selectcheckboxmenu-trigger, .ui-state-default, .ui-corner-right{
	
}

.ui-tabmenu-nav{
	background-image: url("#{resource['images:1366819161-PP-qhSI.jpg']}");
	background-repeat: repeat-x;
	background-position: center; 
}
