<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition>
		<h:form id="form">
		
		<p:growl id="growl" showDetail="true" life="1500" autoUpdate="true" />  
		
			<p:tabMenu widgetVar="tabmenu" activeIndex="10">  
    			<p:menuitem id="link0" value="Home" action="/index" icon="ui-icon-home"/>    
    			<p:menuitem id="link1" value="Register" action="/pages/register" icon="ui-icon-register" />  
    			<p:menuitem id="link2" value="Contact" action="/pages/contact" icon="ui-icon-person" /> 
    			
			</p:tabMenu> 

			<p:blockUI block=":centerContainer" trigger="link0,link1,link2" autoShow="true">
        		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
   			 </p:blockUI>
   			 
   			 
		</h:form>

	</ui:composition>
</h:body>
</html>