<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<h:form id="formRight">
		
		<p:accordionPanel activeIndex="#{connectionController.rightMenuIndex}">  
		<!-- IF NOT CONNECTED -->
   		<p:tab title="Authentification" rendered="#{!connectionController.connected}"> 
        <p:panelGrid columns="1">
        	<h:outputLabel value="Username:" for="j_username" rendered="#{!connectionController.connected}"  />
			<p:inputText id="j_username"  value="#{connectionController.username}" rendered="#{!connectionController.connected}" />
			<h:outputLabel value="Password:" for="j_password" rendered="#{!connectionController.connected}" />
			<p:password id="j_password"  value="#{connectionController.password}" rendered="#{!connectionController.connected}" />
			<p:commandButton id="login" value="Login" action="#{connectionController.connect()}" rendered="#{!connectionController.connected}" update=":formRight" title="Connexion" />   
        </p:panelGrid>
        </p:tab>
        
        <p:tab title="Forgot password?" rendered="#{!connectionController.connected}"> 
        <p:panelGrid columns="1"> 
        	<h:outputLabel value="Your e-mail" />
        	<p:inputText id="emailToReset"  />
            <p:commandButton value="Submit"/>  
        </p:panelGrid>
        </p:tab>
        
        <p:tab title="New Student?" rendered="#{!connectionController.connected}"> 
        	<p:commandLink id="register" value="Register" action="/pages/register" type="button" />   
        </p:tab>
        
        <!-- IF CONNECTED -->
        
        <p:tab title="My Account" rendered="#{connectionController.connected}">  
        	<p:panelGrid columns="2"> 
        		<p:graphicImage value="/resources/images/profile_pic.jpg" rendered="#{connectionController.account.profilePicture==null}"  height="100px"  width="90px"/>
   			    <p:graphicImage  value="data:image/jpeg;base64,#{connectionController.currentImageData}" rendered="#{connectionController.account.profilePicture!=null}"  height="100px"  width="90px"/>
                <h:outputText value="#{connectionController.account.lastName} #{connectionController.account.firstName}" />
                <p:commandLink value="My Profile" action="/pages/profile" />  
                <p:commandLink id="logout" value="Logout" action="#{connectionController.disconnect()}" update=":formRight" />  
        	</p:panelGrid>
        </p:tab> 
        
        <p:tab title="Social" rendered="#{connectionController.connected}">
        <p:panelGrid columns="1"> 
       	 	<p:commandLink value="Messages" /> 
       	 	<p:commandLink value="Notifications" />  
       	</p:panelGrid>
        </p:tab> 
        
        <!-- IF CONNECTED AS STUDENT-->
        <p:tab title="Student Space" rendered="#{connectionController.student}">  
        <p:panelGrid columns="1"> 
       	 	<p:commandLink value="My Courses" action="/pages/courseSession" /> 
       	 	<p:commandLink value="My Groups" action="/pages/group"/> 
            <p:commandLink value="My Assessements" action="/pages/assessement" />  
            <p:commandLink value="My Results" action="/pages/result"/>  
        </p:panelGrid>
        </p:tab>
        
        <!-- IF CONNECTED AS TEACHER-->
        <p:tab title="Teacher Space" rendered="#{connectionController.teacher}">  
        <p:panelGrid columns="1"> 
       	 	<p:commandLink value="My Courses" action="/pages/course" /> 
       	 	<p:commandLink value="My Courses Sessions" action="/pages/courseSession" /> 
            <p:commandLink value="My Assessements" action="/pages/assessement" />  
            <p:commandLink value="My Quizs" action="/pages/quiz"/> 
        </p:panelGrid>
        </p:tab>
        
        
        
        <p:blockUI block=":formRight" trigger="login,logout" autoShow="true">
       		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
		</p:blockUI>
		
		<p:blockUI block=":centerContainer" trigger="register,teacherCourse,teacherAssessement,teacherQuiz" autoShow="true">
        		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
   			 </p:blockUI>
		
    	</p:accordionPanel>	
    	
    	<p:separator/>
    	<p:selectBooleanCheckbox id="toggle" label="Toggle" value="#{connectionController.rightMenuVisible}" immediate="true" />
     	<h:outputLabel value="Always visible" for="toggle" />
     	<p:separator/>
     	<p:commandLink action="/index"><img src="http://www.esprit.ens.tn//test/v3/images/sampledata/icetheme/logo.png" alt=""/></p:commandLink>
		</h:form>


	</ui:composition>
</body>
</html>