<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet name="css/style.css" />
        <title><ui:insert name="title">default</ui:insert></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
    </h:head>

    <h:body onload="document.getElementById('headerContainer').getElementsByTagName('div')[0].className = 'ui-widget-content'">
    
    <!-- Affichage des msg d'erreurs -->
    <p:growl id="growl" showDetail="true" life="1500" autoUpdate="true" />
     
    <p:layout fullPage="true" id="container" >  
    
    <p:layoutUnit id="headerContainer" position="north" size="55"  styleClass="header" collapsible="true" >  
    	<!-- Insertion du header dans le template -->
        <ui:insert name="header" >
        	<ui:include src="/template/commonHeader.xhtml" />
        </ui:insert>  
    </p:layoutUnit>  
  
    <p:layoutUnit id="southContainer" position="south" size="45" styleClass="footer" collapsible="true" header="ESPRIT 2013" collapsed="true"> 
    	<!-- Insertion du pied de page dans le template -->
    		<ui:insert name="footer" >
                <ui:include src="/template/commonFooter.xhtml" />
            </ui:insert> 
    </p:layoutUnit>  
   
    <p:layoutUnit id="leftContainer" position="west" size="200" resizable="true" header="Menu" styleClass="left" collapsible="true" collapsed="true">  
    <!-- Insertion du gauche dans le template -->
        	<ui:insert name="left" >
                
            </ui:insert>  
    </p:layoutUnit>  
   
   
    <p:layoutUnit id="rightContainer" position="east" size="270" resizable="true" header="Members Space"  styleClass="right"
     collapsible="true" collapsed="#{!connectionController.rightMenuVisible}" >  
     <!-- Insertion du droite dans le template -->
         <ui:insert name="right" >
                <ui:include src="/template/commonRight.xhtml" />
            </ui:insert>
    </p:layoutUnit>  
  
    <p:layoutUnit id="centerContainer" position="center" styleClass="content">  
           <ui:insert name="content" >
                Welcome
            </ui:insert> 
    </p:layoutUnit>  
  
</p:layout>  

   	    <script type="text/javascript">
			function start() {
			    statusDialog.show();
			}
			function stop() {
			    statusDialog.hide();
			}
		</script>
    </h:body>
</html>