<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Home</ui:define>
	
	 
		
		<ui:define name="header">
		<h:form id="formHeader">
			<p:tabMenu widgetVar="tabmenu" activeIndex="0">  
    			<p:menuitem id="link0" value="Home" action="/index" icon="ui-icon-home"/>    
    			<p:menuitem id="link1" value="Register" action="/pages/register" icon="ui-icon-register" />  
    			<p:menuitem id="link2" value="Contact" action="/pages/contact" icon="ui-icon-person" /> 
    			
    			
			</p:tabMenu> 

			<p:blockUI block=":centerContainer" trigger="link0,link1,link2" autoShow="true">
        		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
   			 </p:blockUI>
   			 </h:form>
		</ui:define>
		
		
	<ui:define name="left">
		
	</ui:define>
	
	<ui:define name="content">
		<h2>Welcome to ESPRIT Social Learning Portal</h2>
		<table class="blog" cellpadding="0" cellspacing="0">

<tbody><tr>
	<td valign="top">
		<table width="100%" cellpadding="0" cellspacing="0">
		<tbody><tr>
												<td valign="top" width="50%" class="article_column">
						
<table class="contentpaneopen">
<tbody><tr>
		<td class="contentheading" width="100%">
					Global AndroidDev Camp 2012.			</td>
	
		<td align="right" width="100%" class="buttonheading">
	<a href="http://esprit-tn.com/fr/index.php?view=article&amp;catid=35:acct&amp;id=64:esprit-mobile-application-team&amp;format=pdf" title="PDF" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="http://esprit-tn.com/fr/templates/esprit/images/pdf_button.png" alt="PDF"></img></a>	</td>
	
	
		   </tr>
</tbody></table>
<table class="contentpaneopen">




<tbody><tr>
<td valign="top" colspan="2">
<p style="padding-left: 30px;"><span style="font-family: arial, sans-serif; color: #000000; font-size: x-small;"><span class="caption"><img src="http://esprit-tn.com/fr/images/stories/tn_Esprit_mob_3.JPG" border="0"/></span></span><span><strong style="mso-bidi-font-weight: normal;"><span style="font-family: &quot;Tahoma&quot;,&quot;sans-serif&quot;; color: #333333;">ESPRIT</span></strong></span><span><span style="font-family: &quot;Tahoma&quot;,&quot;sans-serif&quot;; color: #333333;"> remporte&nbsp;le premier prix mondial&nbsp;du Public Award au Global &nbsp;AndroidDev Camp 2012.<br/><br/></span></span></p>
<p class="MsoNormal"><span style="font-size: 12.0pt; line-height: 115%; font-family: &quot;Cambria&quot;,&quot;serif&quot;; mso-ascii-theme-font: major-latin; mso-fareast-font-family: Batang; mso-hansi-theme-font: major-latin; color: black; mso-themecolor: text1;"> </span></p>
<p class="MsoNormal" style="text-align: left;"><span style="font-size: 10.5pt; line-height: 115%; font-family: &quot;Tahoma&quot;,&quot;sans-serif&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;; color: #333333;"> </span></p>
<p style="text-align: left;"><span style="color: #999999; font-family: Tahoma, Verdana, Arial, sans-serif; -webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px; line-height: normal;"><strong>Contact: </strong></span><span style="color: #999999; font-family: Tahoma, Verdana, Arial, sans-serif; -webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px; line-height: normal;"><strong>
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = 'm&#97;&#105;lt&#111;:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy31687 = '&#105;m&#101;d.&#97;mr&#105;' + '&#64;';
 addy31687 = addy31687 + '&#101;spr&#105;t' + '&#46;' + 'tn';
 document.write( '<a ' + path + '\'' + prefix + addy31687 + suffix + '\'' + attribs + '>' );
 document.write( addy31687 );
 document.write( '<\/a>' );
 //-->
 </script><a href="mailto:imed.amri@esprit.tn">imed.amri@esprit.tn</a> <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span><br/>Site web: </strong></span><a href="http://www.espritmobile.com/">http://www.espritmobile.com</a></p></td>
</tr>



</tbody></table>
<span class="article_separator">&nbsp;</span>

<table class="contentpaneopen">
<tbody><tr>
		<td class="contentheading" width="100%">
					Nos partenaires 			</td>
	
		<td align="right" width="100%" class="buttonheading">
	<a href="http://esprit-tn.com/fr/index.php?view=article&amp;catid=35:acct&amp;id=62:esprit-futura&amp;format=pdf" title="PDF" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="http://esprit-tn.com/fr/templates/esprit/images/pdf_button.png" alt="PDF"/></a>	</td>
	
	
		   </tr>
</tbody></table>
<table class="contentpaneopen">




<tbody><tr>
<td valign="top" colspan="2">
<p><img src="http://esprit-tn.com/fr/images/stories/partenaire/microsoft.GIF" border="0" width="170" height="46"/> <img src="http://esprit-tn.com/fr/images/stories/partenaire/pro1.jpg" border="0" width="133" height="55"/> <img src="http://esprit-tn.com/fr/images/stories/partenaire/dauphine.gif" border="0"/> <img src="http://esprit-tn.com/fr/images/stories/partenaire/VMware.gif" border="0"/></p></td>
</tr>



</tbody></table>
<span class="article_separator">&nbsp;</span>
</td>
														<td valign="top" width="50%" class="article_column column_separator">
						
<table class="contentpaneopen">
<tbody><tr>
		<td class="contentheading" width="100%">
					Activités culturelles et sportives			</td>
	
		<td align="right" width="100%" class="buttonheading">
	<a href="http://esprit-tn.com/fr/index.php?view=article&amp;catid=35:acct&amp;id=61:esprit-sport&amp;format=pdf" title="PDF" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="http://esprit-tn.com/fr/templates/esprit/images/pdf_button.png" alt="PDF"/></a>	</td>
	
	
		   </tr>
</tbody></table>
<table class="contentpaneopen">




<tbody><tr>
<td valign="top" colspan="2">
<p>Association sportive lancé en 2010 à travers plusieurs spécialités:</p>
<ol>
<li> Bosaketball Fire Birds,</li>
<li>FootBall à 11 Esprit Foot ,</li>
<li> FootBall à 5 , Tennis , Ping Pong</li>
<li><span style="color: #bd020d; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 10px; line-height: normal;"> NATATION</span></li>
<li><span style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #000000;"><span style="font: normal normal normal 10px/normal 'Trebuchet MS', Arial, Helvetica, sans-serif;"> CONDITION&nbsp;PHYSIQU</span><span style="font: normal normal normal 10px/normal 'Trebuchet MS', Arial, Helvetica, sans-serif;"><span style="color: #000000;"><span style="line-height: 12px;">E</span></span></span></span></li>
</ol> 
<ul style="text-align: justify;">
</ul>
<p style="text-align: justify;"><strong>Contact:</strong> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = 'm&#97;&#105;lt&#111;:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy5555 = 's&#97;&#105;f.b&#101;nw&#97;h&#97;d&#97;' + '&#64;';
 addy5555 = addy5555 + '&#101;spr&#105;t' + '&#46;' + 'tn';
 document.write( '<a ' + path + '\'' + prefix + addy5555 + suffix + '\'' + attribs + '>' );
 document.write( addy5555 );
 document.write( '<\/a>' );
 //-->
 </script><a href="mailto:saif.benwahada@esprit.tn">saif.benwahada@esprit.tn</a> <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span></p></td>
</tr>



</tbody></table>
<span class="article_separator">&nbsp;</span>

<table class="contentpaneopen">
<tbody><tr>
	
		<td align="right" width="100%" class="buttonheading">
	<a href="/fr/index.php?view=article&amp;catid=35:acct&amp;id=67:test&amp;format=pdf" title="PDF" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="http://esprit-tn.com/fr/templates/esprit/images/pdf_button.png" alt="PDF"/></a>	</td>
	
	
		   </tr>
</tbody></table>
<table class="contentpaneopen">




<tbody><tr>
<td valign="top" colspan="2">
<p style="text-align: left;"><img src="http://esprit-tn.com/fr/images/stories/sport/417978_290538857681557_151939498208161_731278_1411448038_n.jpg" border="0" width="90px" height="60px"/> <img src="http://esprit-tn.com/fr/images/stories/sport/418137_290537954348314_151939498208161_731265_507126927_n.jpg" border="0" width="90px" height="60px"/> <img src="http://esprit-tn.com/fr/images/stories/sport/424843_290537824348327_151939498208161_731263_972573453_n (1).jpg" border="0" width="90px" height="60px"/></p></td>
</tr>



</tbody></table>
<span class="article_separator">&nbsp;</span>
</td>
				 
		</tr>
		</tbody></table>
	</td>
</tr>
<tr>
	<td valign="top">
		<div class="blog_more">
			<div>
	<strong>Plus d'articles...</strong>
</div>
<ul>
	<li>
			<a class="blogsection" href="http://esprit-tn.com/fr/index.php?option=com_content&amp;view=article&amp;id=60:esprit-progamming-club&amp;catid=35:acct&amp;Itemid=1">
			ESPRIT Progamming Club</a>
	</li>
</ul>
		</div>
	</td>
</tr>
<tr>
	<td valign="top" align="center">
		<span class="pagination">« <span>Début</span><span>Préc</span><strong><span>1</span></strong><strong><a href="http://esprit-tn.com/fr/index.php?limitstart=4" title="2">2</a></strong><a href="http://esprit-tn.com/fr/index.php?limitstart=4" title="Suivant">Suivant</a><a href="http://esprit-tn.com/fr/index.php?limitstart=4" title="Fin">Fin</a> »</span>		<br/><br/>
	</td>
</tr>
<tr>
	<td valign="top" align="center">
		JPAGE_CURRENT_OF_TOTAL	</td>
</tr>
</tbody></table>
	</ui:define>
</ui:composition>
</html>
