<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Assessement</ui:define>
		
	<ui:define name="left">
		<h:form id="formLeft" rendered="#{connectionController.teacher}">
			<p:commandLink value="New Assessement" actionListener="#{assessementController.prepareCreate}" oncomplete="creationDialog.show()" />
		</h:form>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="formContent" rendered="#{connectionController.teacher}">
	
    <p:dataTable var="variable" value="#{assessementController.items}"  paginator="true" rows="15" selection="#{assessementController.selectedItem}"
               filteredValue="#{assessementController.filteredItems}" selectionMode="single" id="table" rowKey="#{variable.id}"
               paginatorPosition="bottom" paginatorAlwaysVisible="false" rowsPerPageTemplate="10,15,20,30,50">

        <p:ajax event="rowSelect" update=":formContent:editionDlg" oncomplete="editionDialog.show()" />

        <f:facet name="header">
            #{assessementController.header}
        </f:facet>
        
        <p:column headerText="Course">
            #{variable.courseSession.course} : #{variable.courseSession}
        </p:column>

        <p:column headerText="Name">
            #{variable.name}
        </p:column>
        
        <p:column headerText="Begin Date">
            #{variable.beginDate}
        </p:column>
        
        <p:column headerText="Expiration Date">
            #{variable.expirationDate}
        </p:column>
        
        <f:facet name="footer">
            #{assessementController.footer}
        </f:facet>
		
    </p:dataTable>
    
    <p:blockUI block="table" trigger="table">
        <p:graphicImage value="/resources/images/ajax-loader.gif"/>
    </p:blockUI>

		<p:dialog header="Assessement id=#{assessementController.selectedItem.id}" widgetVar="editionDialog" id="editionDlg" draggable="false"
				showEffect="slide" hideEffect="slide" closable="true">

        <h:panelGrid id="editionDisplay" columns="2" cellpadding="4">


            <h:outputText value="Course: ">
            	<h:outputText value="#{assessementController.selectedItem.courseSession.course}"/>   
            </h:outputText>
            <h:outputText value="Session: ">
            	<h:outputText value="#{assessementController.selectedItem.courseSession}"/>   
            </h:outputText>
            
            <h:outputText value="Name: " />
            <h:outputText value="#{assessementController.selectedItem.name}" rendered="#{!assessementController.editMode}"/> 
            <p:inputText value="#{assessementController.selectedItem.name}" rendered="#{assessementController.editMode}"/>  
            
             <h:outputText value="Begin Date: " />
            <h:outputText value="#{assessementController.selectedItem.beginDate}" rendered="#{!assessementController.editMode}"/> 
            <p:calendar value="#{assessementController.selectedItem.beginDate}" rendered="#{assessementController.editMode}"/>
            
             <h:outputText value="Expiration Date: " />
            <h:outputText value="#{assessementController.selectedItem.expirationDate}" rendered="#{!assessementController.editMode}"/> 
            <p:calendar value="#{assessementController.selectedItem.expirationDate}" rendered="#{assessementController.editMode}"/>
            
            <h:outputText value="Duration: " />
            <h:outputText value="#{assessementController.selectedItem.duration}" rendered="#{!assessementController.editMode}"/> 
            <p:calendar value="#{assessementController.selectedItem.duration}" timeOnly="true" rendered="#{assessementController.editMode}"/>
            
            <h:outputText value="Quiz: " />
            <h:outputText value="#{assessementController.selectedItem.quiz}" rendered="#{!assessementController.editMode}"/> 
            <p:panel>
	            <p:selectOneMenu value="#{assessementController.selectedItem.quiz}" required="true" converter="#{quizConverter}" 
	            		 filter="true" filterMatchMode="startsWith" effect="fade" rendered="#{assessementController.editMode}">    
		            <f:selectItems value="#{quizController.facade.findAll()}" var="foo" itemLabel="#{foo.name}" itemValue="#{foo}"/> 
		            <f:converter converterId="quizConverter" /> 
	        	</p:selectOneMenu>
	        	<p:commandLink value="New"  action="/pages/quiz" rendered="#{assessementController.editMode}"/>
        	</p:panel>
            
            <h:outputText value="Activated: " />
             <h:outputText value="Yes" rendered="#{assessementController.selectedItem.activated and !assessementController.editMode}"/> 
             <h:outputText value="No" rendered="#{!assessementController.selectedItem.activated and !assessementController.editMode}"/> 
            <p:selectBooleanCheckbox value="#{assessementController.selectedItem.activated}"  rendered="#{assessementController.editMode}"/>
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{assessementController.prepareEdit}" value="Edit" update=":formContent:editionDisplay" rendered="#{assessementController.canEdit() and !assessementController.editMode}" />
            <p:commandButton actionListener="#{assessementController.edit}" value="Save" update=":formContent:editionDisplay" rendered="#{assessementController.canEdit() and assessementController.editMode}" oncomplete="editionDialog.hide()"/>
            <p:commandButton actionListener="#{assessementController.delete}" value="Delete" update=":formContent:table" oncomplete="editionDialog.hide()" rendered="#{assessementController.canDelete()}"/> 
          
            <p:commandLink action="/pages/student" value="Show Students">
            	<f:param name="assessementId" value="#{assessementController.selectedItem.id}"/>
            </p:commandLink>             
        </h:panelGrid>
    </p:dialog>
    
    
    <p:dialog header="New Assessement" widgetVar="creationDialog" id="creationDlg" draggable="false"
    			 showEffect="slide" hideEffect="slide" closable="true">

        <h:panelGrid id="creationDisplay" columns="2" cellpadding="4">
        
        	<h:outputText value="Session: "/>
            <p:selectOneMenu value="#{assessementController.newItem.courseSession}" required="true" converter="#{courseSessionConverter}" 
            		 filter="true" filterMatchMode="startsWith" effect="fade" >    
	            <f:selectItems value="#{courseSessionController.facade.findAll()}" var="foo" itemLabel="#{foo.course} : #{foo.name}" itemValue="#{foo}"/> 
	            <f:converter converterId="courseSessionConverter" /> 
        	</p:selectOneMenu>
            
            <h:outputText value="Name: " />
            <p:inputText value="#{assessementController.newItem.name}"/>  
            
             <h:outputText value="Begin Date: " />
            <p:calendar value="#{assessementController.newItem.beginDate}"/>
            
             <h:outputText value="Expiration Date: " />
            <p:calendar value="#{assessementController.newItem.expirationDate}"/>
            
            <h:outputText value="Duration: " />
            <p:calendar value="#{assessementController.newItem.duration}" timeOnly="true"  />
            
            <h:outputText value="Quiz: " />
            <p:panelGrid>
	            <p:selectOneMenu value="#{assessementController.newItem.quiz}" required="true" converter="#{quizConverter}" 
	            		 filter="true" filterMatchMode="startsWith" effect="fade">    
		            <f:selectItems value="#{quizController.facade.findAll()}" var="foo" itemLabel="#{foo.name}" itemValue="#{foo}"/> 
		            <f:converter converterId="quizConverter" /> 
	        	</p:selectOneMenu>
	        	<p:commandLink value="New"  action="/pages/quiz"/>
        	</p:panelGrid>
            
            <h:outputText value="Activated: " />
            <p:selectBooleanCheckbox value="#{assessementController.newItem.activated}"/>
            
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{assessementController.create}" value="Create" update=":formContent:table" oncomplete="creationDialog.hide()" />
        </h:panelGrid>
    </p:dialog>
	
		
		</h:form>
</ui:define>
</ui:composition>
</html>
