<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Contact</ui:define>
	
	 
		
		<ui:define name="header">
		<h:form id="formHeader">
			<p:tabMenu widgetVar="tabmenu" activeIndex="2">  
    			<p:menuitem id="link0" value="Home" action="/index" icon="ui-icon-home"/>    
    			<p:menuitem id="link1" value="Register" action="/pages/register" icon="ui-icon-register" />  
    			<p:menuitem id="link2" value="Contact" action="/pages/contact" icon="ui-icon-person" /> 
    			
    			
			</p:tabMenu> 

			<p:blockUI block=":centerContainer" trigger="link0,link1,link2" autoShow="true">
        		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
   			 </p:blockUI>
   			 </h:form>
		</ui:define>
		
		
	<ui:define name="left">
		
	</ui:define>
	
	<ui:define name="content">
		Contact
	</ui:define>
</ui:composition>
</html>
