<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Course Sessions</ui:define>
		
	<ui:define name="left">
		<h:form id="formLeft">
			<p:commandLink value="New Course Session" actionListener="#{courseSessionController.prepareCreate}" oncomplete="creationDialog.show()" rendered="#{connectionController.teacher}" />
			<p:commandLink value="Show All courses" actionListener="#{courseSessionController.showAllCourseSession}" rendered="#{connectionController.student}" update=":formContent" />
		</h:form>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="formContent" rendered="#{connectionController.connected}">
	
    <p:dataTable var="variable" value="#{courseSessionController.items}"  paginator="true" rows="15" selection="#{courseSessionController.selectedItem}"
               filteredValue="#{courseSessionController.filteredItems}" selectionMode="single" id="table" rowKey="#{variable.id}"
               paginatorPosition="bottom" paginatorAlwaysVisible="false" rowsPerPageTemplate="10,15,20,30,50">

        <p:ajax event="rowSelect" update=":formContent:editionDlg" oncomplete="editionDialog.show()" />

        <f:facet name="header">
            #{courseSessionController.header}
        </f:facet>
        
        <p:column headerText="Course Name">
            #{variable.course}
        </p:column>

        <p:column headerText="Session Name">
            #{variable.name}
        </p:column>
        
        <p:column headerText="Begin Date">
            <h:outputText value="#{variable.beginDate}" >
            	<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
            </h:outputText>
        </p:column>
        
        <p:column headerText="End Date">
        	<h:outputText value="#{variable.endDate}" >
            	<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
            </h:outputText>
        </p:column>
        
        <f:facet name="footer">
            #{courseSessionController.footer}
        </f:facet>
		
    </p:dataTable>
    
    <p:blockUI block="table" trigger="table">
        <p:graphicImage value="/resources/images/ajax-loader.gif"/>
    </p:blockUI>

		<p:dialog header="Course Session id=#{courseSessionController.selectedItem.id}" widgetVar="editionDialog" id="editionDlg" draggable="false"
				showEffect="slide" hideEffect="slide" closable="true">

        <h:panelGrid id="editionDisplay" columns="2" cellpadding="4">


            <h:outputText value="Course Name: " />
            <h:outputText value="#{courseSessionController.selectedItem.course}"/>   
            
            <h:outputText value="Session Name: " />
            <h:outputText value="#{courseSessionController.selectedItem.name}" rendered="#{!courseSessionController.editMode}"/> 
            <p:inputText value="#{courseSessionController.selectedItem.name}" rendered="#{courseSessionController.editMode}"/>  
            
             <h:outputText value="Public: " />
             <h:outputText value="Yes" rendered="#{courseSessionController.selectedItem.open and !courseSessionController.editMode}"/> 
             <h:outputText value="No" rendered="#{!courseSessionController.selectedItem.open and !courseSessionController.editMode}"/> 
            <p:selectBooleanCheckbox value="#{courseSessionController.selectedItem.open}"  rendered="#{courseSessionController.editMode}"/>
            
             <h:outputText value="Begin Date: " />
            <h:outputText value="#{courseSessionController.selectedItem.beginDate}" rendered="#{!courseSessionController.editMode}">
            	<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
            </h:outputText> 
            <p:calendar value="#{courseSessionController.selectedItem.beginDate}" rendered="#{courseSessionController.editMode}"/>
            
             <h:outputText value="End Date: " />
            <h:outputText value="#{courseSessionController.selectedItem.endDate}" rendered="#{!courseSessionController.editMode}"> 
            	<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
            </h:outputText>
            <p:calendar value="#{courseSessionController.selectedItem.endDate}" rendered="#{courseSessionController.editMode}"/>
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{courseSessionController.prepareEdit}" value="Edit" update=":formContent:editionDisplay" rendered="#{courseSessionController.canEdit() and !courseSessionController.editMode}" />
            <p:commandButton actionListener="#{courseSessionController.edit}" value="Save" update=":formContent:editionDisplay" rendered="#{courseSessionController.canEdit() and courseSessionController.editMode}" oncomplete="editionDialog.hide()"/>
            <p:commandButton actionListener="#{courseSessionController.delete}" value="Delete" update=":formContent:table" oncomplete="editionDialog.hide()" rendered="#{courseSessionController.canDelete()}"/> 
            
            <p:commandLink action="/pages/document" value="Show Documents">
            	<f:param name="courseSessionId" value="#{courseSessionController.selectedItem.id}"/>
            </p:commandLink>
            <p:commandLink action="/pages/student" value="Show Students" >
            	<f:param name="courseSessionId" value="#{courseSessionController.selectedItem.id}"/>
            </p:commandLink>   
            <p:commandLink action="/pages/assessement" value="Show Assessements">
            	<f:param name="courseSessionId" value="#{courseSessionController.selectedItem.id}"/>
            </p:commandLink>
            <p:commandLink action="/pages/teacher" value="Show Teachers">
            	<f:param name="courseSessionId" value="#{courseSessionController.selectedItem.id}"/>
            </p:commandLink>             
        </h:panelGrid>
    </p:dialog>
    
    
    <p:dialog header="New Course Session" widgetVar="creationDialog" id="creationDlg" draggable="false"
    			 showEffect="slide" hideEffect="slide" closable="true" rendered="#{courseController.facade.findAll()!=null}" >

        <h:panelGrid id="creationDisplay" columns="2" cellpadding="4">
        
        	<h:outputText value="Course Name: " />
            <p:selectOneMenu value="#{courseSessionController.newItem.course}" required="true" converter="#{courseConverter}" 
            		 filter="true" filterMatchMode="startsWith" effect="fade">    
	            <f:selectItems value="#{courseController.facade.findAll()}" var="foo" itemLabel="#{foo.name}" itemValue="#{foo}"/> 
	            <f:converter converterId="courseConverter" /> 
        	</p:selectOneMenu>  
        	
            <h:outputText value="Session Name: " />
            <p:inputText value="#{courseSessionController.newItem.name}"/>    
            
            <h:outputText value="Public: " />
            <p:selectBooleanCheckbox value="#{courseSessionController.newItem.open}"/>
            
            <h:outputText value="Begin Date: " />
            <p:calendar value="#{courseSessionController.newItem.beginDate}"/>
            
            <h:outputText value="End Date: " />
            <p:calendar value="#{courseSessionController.newItem.endDate}" />
              
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{courseSessionController.create}" value="Create" update=":formContent:table" oncomplete="creationDialog.hide()" />
        </h:panelGrid>
    </p:dialog>
	
		
		</h:form>
</ui:define>
</ui:composition>
</html>
