<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Course</ui:define>
		
	<ui:define name="left">
		<h:form id="formLeft" rendered="#{connectionController.teacher}">
			<p:commandLink value="New Course" actionListener="#{courseController.prepareCreate}" oncomplete="creationDialog.show()" />
		</h:form>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="formContent" rendered="#{connectionController.teacher}">
	
    <p:dataTable var="variable" value="#{courseController.items}"  paginator="true" rows="15" selection="#{courseController.selectedItem}"
               filteredValue="#{courseController.filteredItems}" selectionMode="single" id="table" rowKey="#{variable.id}"
               paginatorPosition="bottom" paginatorAlwaysVisible="false" rowsPerPageTemplate="10,15,20,30,50">

        <p:ajax event="rowSelect" update=":formContent:editionDlg" oncomplete="editionDialog.show()" />

        <f:facet name="header">
            #{courseController.header}
        </f:facet>

        <p:column headerText="Name">
            #{variable.name}
        </p:column>
        
        <p:column headerText="Subject">
            #{variable.subject}
        </p:column>
        
        <f:facet name="footer">
            #{courseController.footer}
        </f:facet>
		
    </p:dataTable>
    
    <p:blockUI block="table" trigger="table">
        <p:graphicImage value="/resources/images/ajax-loader.gif"/>
    </p:blockUI>

		<p:dialog header="Course id=#{courseController.selectedItem.id}" widgetVar="editionDialog" id="editionDlg" draggable="false"
				showEffect="slide" hideEffect="slide" closable="true">

        <h:panelGrid id="editionDisplay" columns="2" cellpadding="4">


            <h:outputText value="Name: " />
            <h:outputText value="#{courseController.selectedItem.name}" rendered="#{!courseController.editMode}"/>   
            <p:inputText value="#{courseController.selectedItem.name}" rendered="#{courseController.editMode}"/> 
            
            <h:outputText value="Subject: " />
            <h:outputText value="#{courseController.selectedItem.subject}" rendered="#{!courseController.editMode}"/>  
            <p:inputText value="#{courseController.selectedItem.subject}" rendered="#{courseController.editMode}"/>  
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{courseController.prepareEdit}" value="Edit" update=":formContent:editionDisplay" rendered="#{courseController.canEdit() and !courseController.editMode}" />
            <p:commandButton actionListener="#{courseController.edit}" value="Save" update=":formContent:editionDisplay" rendered="#{courseController.canEdit() and courseController.editMode}" oncomplete="editionDialog.hide()"/>
            <p:commandButton actionListener="#{courseController.delete}" value="Delete" update=":formContent:table" oncomplete="editionDialog.hide()" rendered="#{courseController.canDelete()}"/> 
            
            <p:commandLink action="/pages/document" value="Show Documents" >
            	<f:param name="courseId" value="#{courseController.selectedItem.id}"/>
            </p:commandLink>
            <p:commandLink action="/pages/courseSession" value="Show Sessions" >
            	<f:param name="courseId" value="#{courseController.selectedItem.id}"/>
            </p:commandLink>             
        </h:panelGrid>
    </p:dialog>
    
    
    <p:dialog header="New Course" widgetVar="creationDialog" id="creationDlg" draggable="false"
    			 showEffect="slide" hideEffect="slide" closable="true">

        <h:panelGrid id="creationDisplay" columns="2" cellpadding="4">
            <h:outputText value="Name: " />
            <p:inputText value="#{courseController.newItem.name}"/>      
            
            <h:outputText value="Subject: " />
            <p:inputText value="#{courseController.newItem.subject}"/>  
            
            <h:outputText value="" /> 
            <h:outputText value="" /> 
            
            <p:commandButton actionListener="#{courseController.create}" value="Create" update=":formContent:table" oncomplete="creationDialog.hide()" />
        </h:panelGrid>
        
    </p:dialog>
	
		</h:form>
</ui:define>
</ui:composition>
</html>
