<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Profile</ui:define>
	
	
	<ui:define name="content">
		<h:form id="formContent" enctype="multipart/form-data" rendered="#{connectionController.connected}">
		
		<p:tabView id="tabView"> 
		
		<p:tab id="preview" title="Preview">
			<p:panel header="Preview">
			
				<h:panelGrid  columns="4" cellpadding="10">
					<h:outputText value="Firstname: " />
					<h:outputText styleClass="outputLabel"
								value="#{accountController.account.firstName}" />
					
					<h:outputText value="Lastname: " />
					<h:outputText  styleClass="outputLabel"
								value="#{accountController.account.lastName}"/>
					
					<h:outputText value="Birth Date: " />
					<h:outputText value="#{accountController.account.birthDate}" >
						<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
					</h:outputText>
					
					<h:outputText value="Address: " />
					<h:outputText value="#{accountController.account.address}" />
					
					<h:outputText value="CIN: " />
					<h:outputText label="CIN" value="#{accountController.account.cinNumber}" />
					
					<h:outputText value="Sex: " />
					<h:outputText rendered="#{accountController.account.sexType}" value="Male"/>  
            		<h:outputText rendered="#{!accountController.account.sexType}" value="Female"/> 
        			
        			<h:outputText value="Email: " />
					<h:outputText required="true" label="Email" value="#{accountController.account.emailAddress}" />
					
					<h:outputText value="Phone: " />
					<h:outputText value="#{accountController.account.phoneNumber}"/>
        			
        			<h:outputText value="Class Name: " rendered="#{connectionController.student}"/>
					<h:outputText value="#{accountController.student.classe}" rendered="#{connectionController.student}"/>
				
					<h:outputText value="Username: " />
					<h:outputText value="#{accountController.account.username}" required="true" />
					
					<h:outputText value="Profile Picture: " />
		            <p:graphicImage  value="data:image/jpeg;base64,#{accountController.currentImageData}" rendered="#{accountController.account.profilePicture!=null}"  height="100px"  width="90px"/>
					
				</h:panelGrid>
			
			</p:panel>
			</p:tab>
		
	
		<p:tab id="personal" title="Personal">

			<p:panel header="Personal Details">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">
					<h:outputText value="Firstname: *" />
					<p:inputText required="true" label="Firstname"
							value="#{accountController.account.firstName}" />
					
					<h:outputText value="Lastname: *" />
					<p:inputText required="true" label="Lastname"
							value="#{accountController.account.lastName}" />
					
					<h:outputText value="Birth Date: " />
					<p:calendar value="#{accountController.account.birthDate}" pattern="dd/MM/yyyy" />
					
					<h:outputText value="Address: " />
					<p:inputText value="#{accountController.account.address}" />
					
					<h:outputText value="CIN: " />
					<p:inputText label="CIN" value="#{accountController.account.cinNumber}" />
					
					<h:outputText value="Sex: *" />
					<p:selectOneRadio value="#{accountController.sexValue}">  
            			<f:selectItem itemLabel="Male" itemValue="0" />  
            			<f:selectItem itemLabel="Female" itemValue="1" />  
        			</p:selectOneRadio> 
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
			
		<p:tab id="contact" title="Contact">
			<p:panel header="Contact Information">
				
				<h:messages errorClass="error"/>
			
				<h:panelGrid id="panelgrid2" columns="2" columnClasses="label, value">
					<h:outputText value="Email: *" />
					<p:inputText required="true" label="Email"
							value="#{accountController.account.emailAddress}" readonly="true" />
					
					<h:outputText value="Phone: " />
					<p:inputText value="#{accountController.account.phoneNumber}"/>
					
					<h:outputText value="Profile Picture: " />
        			<p:fileUpload fileUploadListener="#{accountController.handleFileUpload}"  
			            mode="advanced" id="fileUpload"
			            auto="true" 
			            label="Choose a file" 
			            sizeLimit="1000000"  
			            allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
			            update="panelgrid2"/> 
			            
		            <h:outputText value="Preview: " rendered="#{accountController.account.profilePicture!=null}" /> 
		            <p:graphicImage  value="data:image/jpeg;base64,#{accountController.currentImageData}" rendered="#{accountController.account.profilePicture!=null}"  height="100px"  width="90px"/>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		<p:tab id="account" title="Account">
			<p:panel header="Account Details">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value">
				
					<h:outputText value="Class Name: " rendered="#{connectionController.student}" />
					<p:selectOneMenu value="#{accountController.student.classe}" converter="#{classConverter}"
            		 filter="true" filterMatchMode="startsWith" effect="fade" rendered="#{connectionController.student}">  
            		 		<f:selectItem itemLabel="" />  
	            			<f:selectItems value="#{classController.facade.findAll()}" var="foo" itemValue="#{foo}"/> 
	           				 <f:converter converterId="classConverter" />  
        				</p:selectOneMenu>
				
					<h:outputText value="Username: *" />
					<p:inputText value="#{accountController.account.username}" required="true" readonly="true"/>
					
					<h:outputText value="Old Password: " />
					<p:password value="#{accountController.oldPasswd}" />
					
					<h:outputText value="Password: " />
					<p:password value="#{accountController.passwd}" />
					
					<h:outputText value="Confirm Password: " />
					<p:password value="#{accountController.confirmPassword}" />
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
		
	</p:tabView>
	
	<p:commandButton action="#{accountController.saveChanges()}" value="Save" />
		
   			 
		</h:form>

	</ui:define>
</ui:composition>
</html>
