<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<ui:composition template="/template/commonLayout.xhtml">
	<ui:define name="title">SLP - Register</ui:define>
	
	
	<ui:define name="header">
	<h:form id="formHeader">	
			<p:tabMenu widgetVar="tabmenu" activeIndex="1">  
    			<p:menuitem id="link0" value="Home" action="/index" icon="ui-icon-home"/>    
    			<p:menuitem id="link1" value="Register" action="/pages/register" icon="ui-icon-register" />  
    			<p:menuitem id="link2" value="Contact" action="/pages/contact" icon="ui-icon-person" /> 
			</p:tabMenu> 

			<p:blockUI block=":centerContainer" trigger="link0,link1,link2" autoShow="true">
        		<p:graphicImage value="/resources/images/ajax-loader.gif"/>
   			 </p:blockUI>
   			 
   			 </h:form>
		</ui:define>
	
	
	<ui:define name="content">
	<h:outputText value="You are already registred and connected!!" rendered="#{connectionController.connected}" />
		<h:form id="formContent" enctype="multipart/form-data" rendered="#{!connectionController.connected}">
		
		<p:wizard widgetVar="wiz" flowListener="#{accountController.onFlowProcess}">
	
		<p:tab id="personal" title="Personal">

			<p:panel header="Personal Details">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">
					<h:outputText value="Firstname: *" />
					<p:inputText required="true" label="Firstname"
							value="#{accountController.account.firstName}" />
					
					<h:outputText value="Lastname: *" />
					<p:inputText required="true" label="Lastname"
							value="#{accountController.account.lastName}" />
					
					<h:outputText value="Birth Date: " />
					<p:calendar value="#{accountController.account.birthDate}" pattern="dd/MM/yyyy" />
					
					<h:outputText value="Address: " />
					<p:inputText value="#{accountController.account.address}" />
					
					<h:outputText value="CIN: " />
					<p:inputText label="CIN" value="#{accountController.account.cinNumber}" />
					
					<h:outputText value="Sex: *" />
					<p:selectOneRadio value="#{accountController.sexValue}">  
            			<f:selectItem itemLabel="Male" itemValue="0" />  
            			<f:selectItem itemLabel="Female" itemValue="1" />  
        			</p:selectOneRadio> 
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
			
		<p:tab id="contact" title="Contact">
			<p:panel header="Contact Information">
				
				<h:messages errorClass="error"/>
			
				<h:panelGrid id="panelgrid2" columns="2" columnClasses="label, value">
					<h:outputText value="Email: *" />
					<p:inputText required="true" label="Email"
							value="#{accountController.account.emailAddress}" validatorMessage="Invalid e-mail address" >
							<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					
					<h:outputText value="Phone: " />
					<p:inputText value="#{accountController.account.phoneNumber}"/>
					
					<h:outputText value="Profile Picture: " />
        			<p:fileUpload fileUploadListener="#{accountController.handleFileUpload}"  
			            mode="advanced" id="fileUpload"
			            auto="true" 
			            label="Choose a file" 
			            sizeLimit="1000000"  
			            allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
			            update="panelgrid2"/> 
			            
		            <h:outputText value="Preview: " rendered="#{accountController.account.profilePicture!=null}" /> 
		            <p:graphicImage  value="data:image/jpeg;base64,#{accountController.currentImageData}" rendered="#{accountController.account.profilePicture!=null}"  height="100px"  width="90px"/>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		<p:tab id="account" title="Account">
			<p:panel header="Account Details">
			
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="2" columnClasses="label, value">
				
					<h:outputText value="Class Name: " />
					<p:selectOneMenu value="#{accountController.student.classe}" converter="#{classConverter}"
            		 filter="true" filterMatchMode="startsWith" effect="fade">  
            		 		<f:selectItem itemLabel="" />  
	            			<f:selectItems value="#{classController.facade.findAll()}" var="foo" itemValue="#{foo}"/> 
	           				 <f:converter converterId="classConverter" />  
        				</p:selectOneMenu>
				
					<h:outputText value="Username: *" />
					<p:inputText value="#{accountController.account.username}" required="true"/>
					
					<h:outputText value="Password: *" />
					<p:password value="#{accountController.account.passwd}" required="true" />
					
					<h:outputText value="Confirm Password: *" />
					<p:password value="#{accountController.confirmPassword}" required="true" />
					
				</h:panelGrid>
			</p:panel>
		</p:tab>
			
		<p:tab id="confirm" title="Confirmation">
			<p:panel header="Confirmation">
			
				<h:panelGrid id="confirmation" columns="4" cellpadding="10">
					<h:outputText value="Firstname: " />
					<h:outputText styleClass="outputLabel"
								value="#{accountController.account.firstName}" />
					
					<h:outputText value="Lastname: " />
					<h:outputText  styleClass="outputLabel"
								value="#{accountController.account.lastName}"/>
					
					<h:outputText value="Birth Date: " />
					<h:outputText value="#{accountController.account.birthDate}" >
						<f:convertDateTime type="date" pattern="dd-MMM-yyyy"/>
					</h:outputText>
					
					<h:outputText value="Address: " />
					<h:outputText value="#{accountController.account.address}" />
					
					<h:outputText value="CIN: " />
					<h:outputText label="CIN" value="#{accountController.account.cinNumber}" />
					
					<h:outputText value="Sex: " />
					<h:outputText rendered="#{accountController.account.sexType}" value="Male"/>  
            		<h:outputText rendered="#{!accountController.account.sexType}" value="Female"/> 
        			
        			<h:outputText value="Email: " />
					<h:outputText required="true" label="Email" value="#{accountController.account.emailAddress}" />
					
					<h:outputText value="Phone: " />
					<h:outputText value="#{accountController.account.phoneNumber}"/>
        			
        			<h:outputText value="Class Name: " />
					<h:outputText value="#{accountController.student.classe}" />
				
					<h:outputText value="Username: " />
					<h:outputText value="#{accountController.account.username}" required="true"/>
					
					<h:outputText value="Profile Picture: " />
		            <p:graphicImage  value="data:image/jpeg;base64,#{accountController.currentImageData}" rendered="#{accountController.account.profilePicture!=null}"  height="100px"  width="90px"/>
					
					<h:outputText />
					<h:outputText />
				</h:panelGrid>
			
			</p:panel>
			</p:tab>
			
			<p:tab id="end" title="End">
				<p:panel header="Thank you">
					You are registred.
				</p:panel>
			</p:tab>
		
	</p:wizard>
		
   			 
		</h:form>

	</ui:define>
</ui:composition>
</html>
